profiles {
    standard {
        //Specify the work directory location, can baloon in size depending on number of runs
        workDir = "${projectDir}/work" 
        
        params {
            //card = "${projectDir}/card/"
            card = "/data/raid1_HDD/David/db/CARD_27-01-2026/"
            outdir = "${projectDir}/results" // rename as desired
        }

        process.executor = 'local'
        process.cache = 'lenient'
        conda.cacheDir = "${launchDir}/.conda_cache"
        conda.enabled = true
        conda.useMamba = true
        report.overwrite = true
        trace {
            enabled = true
            overwrite = true
            raw = true
            file = 'trace.tsv'
            fields = 'tag,name,status,exit,realtime,cpus,disk,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar'
        }
    }
}